@font-face {
  font-family: 'Windows';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/w95fa.woff2) format('woff2');
}

@font-face {
  font-family: 'Windows';
  font-weight: bold;
  font-style: normal;
  src: url(/fonts/sysfont.woff2) format('woff2');
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Windows';
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
}

.iframe {
  position: relative;
}
