#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#ui-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  padding: 40px;
}

#ui-content #logo svg {
  width: 50px;
}
#ui-content #name {
  text-align: right;
  user-select: none;
}
#ui-content #camera {
  margin-top: auto;
}
#ui-content #music {
  margin-top: auto;
  justify-self: end;
}

#ui-content a {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  background-color: rgb(192, 196, 200);
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-top-color: rgb(192, 196, 200, 0.3);
  border-left-color: rgb(192, 196, 200, 0.3);
  border-right-color: dimgray;
  border-bottom-color: dimgray;
}

@keyframes hide {
  0% {
    opacity: 1;
    left: 0;
  }
  90% {
    left: 0;
  }
  100% {
    left: -100vw;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
